body{
    background-color: black;
    text-align: center;
    margin: 50px;
}

.mensaje {
    margin-top: 20px;
    color: rgb(255, 0, 0);
}

.mensaje1 {
    margin-top: 20px;
    color: rgb(255, 0, 0);
}

.mensaje2 {
    margin-top: 20px;
    color: rgb(255, 0, 0);
}

.cronometro-container {
    display: flex;
    justify-content: space-around;
}

h1{
    color: rgb(255, 0, 0);
    text-align: center;
}

h2{
    color: rgb(255, 0, 0);
    text-align: center;

}

#cronometro1{
    color: rgb(255, 0, 0);
    text-align: center;
}

#cronometro2{
    color: rgb(255, 0, 0);
    text-align: center;
}

button{
    background-color: rgb(255, 0, 0);
    color: white;
}
