body{
    background-color: black;
}

h1{
    color: rgb(255, 0, 0);
    text-align: center;
}

.empalme{
    width: 100%;
    height: 40%;
    margin: 15px;
}

hr{
    color: yellow;
}

p{
    color: rgb(255, 0, 0);
}



.play-pause-btn{
    display: block;
    border-radius: 1px;
    width: 24px;
    height: 24px;

}